# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/

# Build cache
[Bb]uilds/

# User-specific settings
UserSettings/

# Visual Studio / VS Code
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db